.Hobbies {
    margin: 2rem auto;

    .profile_pic {
        padding: 1rem;

        .image {
            
        }
    }

    .hobby_list {
        padding: 1rem;

        .hobby_options {

        }
    }

    .next_button {
        padding: 1rem;

        button {
            padding: auto 1rem;
        }
    }
}