.PersonalInfo{
    h1 {
        text-align: center;
    }
    
    .par {
        text-align: center;
        color: blue;
    }
    .box{
        margin:auto;
        text-align: center;
    }
    .button {
        margin: auto;
        text-align: center;
    }
}
