.PersonalInfo{
    margin: 5rem auto;
    h1 {
        text-align: center;
    }
    
    .par {
        text-align: center;
        color: blue;
        margin: .5rem;
    }
    .box{
        margin: .5rem;
        text-align: center;
    }
    .button {
        margin: auto;
        text-align: center;
    }
}
