.results{
    .post {
        width: 1000px;
        height: 201px;
    
        text-align: left;
        font-size: xx-large;
        background-color: lightgrey;
    
    }
    img {
        float: left;
    }
    .padder {
        padding-bottom: 25px;
    }
    
    p {
        text-align: center;
    }
    
    div {
        margin: auto;
        text-align: center;
    }
    
    h1 {
        text-align: center;
    }
}
