
$lightblue: rgb(217, 243, 252);
.Home {
    width: 60%;
    margin:10% auto;
    background-color: #d9f3fc;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
    font-family: "Courier New", monospace;
    
    .Header {
        font-size: 3rem;
        margin-bottom: 2rem;
        
    }
    form {
        
        input {
            margin: 1rem;
            max-width: 10rem;
            border-radius: 5px;
        }
    }

    .Signup {
        margin: 3rem;
        margin-top: 1rem;
    }
} 